<!-- counter -->
<div class="counter">
    <span class="counter__button counter__button--down js_counter__button"></span>
    <input type="text" class="counter__input js_counter__input" value="1"
           data-max-count="100"/>
    <span class="counter__button counter__button--up js_counter__button"></span>
</div>

<!-- custom select -->
<div class="form-field">
    <select name="" class="js_custom-select">
        <option value="default" selected>Выберите время</option>
        <option value="10_20">С 20:30 до 22:30</option>
        <option value="20_30">С 22:30 до 23:30</option>
    </select>
</div>

<!-- input:radio -->
<label class="radio js_radio">
    <input type="radio" name="" value="">
</label>

<!-- input:checkbox -->
<label class="checkbox js_checkbox">
    <input type="checkbox" name="brand_Banjour">Banjour
</label>

<!-- input:file -->
<label class="label-wrap-file">
                <span class="file-btn">
                    <svg width="15" height="15">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-clip"></use>
                    </svg>
                    Прикрепить резюме
                </span>
    <span class="file-title"></span>
    <input type="file" class="filename js_filename">
</label>

<!-- custom select reset -->
<input type="reset" class="js_custom-select-reset" value="Отменить">

<!-- tabs -->
<div class="tabs-wrap js_tabs-wrap">
    <div class="tabs">
        <span data-id="login" class="tab js_tab active">ВХОД</span>
        <span data-id="register" class="tab js_tab">РЕГИСТРАЦИЯ</span>
    </div>

    <div class="panels">
        <div data-id="login" class="panel js_panel active"></div>

        <div data-id="register" class="panel js_panel"></div>
    </div>
</div>

<!-- two columns grid -->
<div class="two-columns-grid">
    <div class="two-columns-grid__item"></div>
    <div class="two-columns-grid__item"></div>
    <div class="two-columns-grid__item"></div>
    <div class="two-columns-grid__item"></div>
</div>

